.portfolio-hero {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(
    to bottom,
    var(--color-bg-white) 80%,
    var(--color-bg-purple) 100%
    );
    padding: 0 var(--space-5xl);
}

.hero--btns {
    display: flex;
    gap: var(--space-m);
    margin-top: var(--space-m);
}

.portfolio-proyects {
    padding: var(--space-xxl) var(--space-5xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);

    background: linear-gradient(
    to bottom,
    var(--color-bg-purple) 95%,
    var(--color-bg-white) 100%
    );

}

.proyects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    max-width: var(--max-width-content);
}

.proyects--item {
    width: 100%;
    display: flex;
    padding: var(--space-xl);
    gap: var(--space-l);
}

.proyects--item-info {
    width: calc(40% - (var(--space-l) / 2));
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    justify-content: center;
}

.proyects--item--img {
    width: calc(60% - ( var(--space-l) / 2 ));
    aspect-ratio: 16 / 9;
    border: solid 2px var(--color-gey-border);
    border-radius: var(--border-radius-s);
    object-fit: cover;
}

.proyects--item-info--btn {
    display: flex;
    gap: var(--space-m);
    justify-content: flex-end;
}

.portfolio-about {
    padding: var(--space-xxl) var(--space-5xl);
}

.about-texts {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.portfolio-about--studies {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.card-study{
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.portfolio-tecnologies {
    margin: 0 auto;
    padding: var(--space-xxl) var(--space-5xl);
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(
    to top,
    var(--color-bg-purple) 80%,
    var(--color-bg-white) 100%
    );
}

.tecnologies {
    max-width: var(--max-width-content);
}
.max-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width-content);
}

.portfolio--footer {
    display: flex;
    padding: var(--space-xxl) var(--space-5xl);
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-content);
}

.social-media-item {
    padding: var(--space-xs);
    display: flex;
}